body{
    width: 80%;
    margin:0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

h2{
    color:rgb(83, 83, 83)
}


p{
    font-size: 0.9rem;
}